{% extends 'base.html.twig' %}

{% block main %}
    <form method="post">
        <fieldset>
            <legend>Change Password</legend>
            {#<p>#}
                {#<label for="employee_password_first">New Password</label>#}
                {#<input name="defaultData[pass]" required>#}
            {#</p>#}
            {#<p>#}
                {#<label for="employee_password_second">Confirm New Password</label>#}
                {#<input name="defaultData[repeatPass]" required>#}
            {#</p>#}
            {#<p>#}
                {#<a href="{{ path('employee_profile') }}">Cancel</a>#}
                {#<button type="submit">Submit</button>#}
            {#</p>#}

            {#{{  form_row(form._token) }}#}
            <p>{{ form_start(form) }}</p>
            <p>{{ form_widget(form) }}</p>
            <p>{{ form_end(form) }}</p>
        </fieldset>
    </form>
{% endblock %}

