{% extends 'base.html.twig' %}

{% block main %}
    <div>
        <h1>My Details</h1>
        <ul>
            <li>Full Name: {{ employee.fullName }}</li>
            <li>Company ID: {{ employee.companyID }}</li>
            <li>Bank Account: {{ employee.bankAccount }}</li>
            <li>E-Mail: {{ employee.email }}</li>
            <li>Base Salary: {{ employee.baseSalary }}</li>
        </ul>
    </div>
{% endblock %}