{% extends 'base.html.twig' %}

{% block main %}
    <div>
        <h1>My Last Payment</h1>
        <table>
            <thead>
            <tr>
                <th>Period</th>
                <th>Additional To Base</th>
                <th>Gross</th>
                <th>Soc. Sec.</th>
                <th>PIT</th>
                <th>Net</th>
            </tr>
            </thead>
            <tbody>
            {% for pay in payment %}
                <tr>
                    <td>{{ pay.payPeriod }}</td>
                    <td>{{ pay.additionalToBaseSalary }}</td>
                    <td>{{ pay.grossAmount }}</td>
                    <td>{{ pay.socialSecurityEmployee }}</td>
                    <td>{{ pay.PIT }}</td>
                    <td>{{ pay.netSalary }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

