{% extends 'base.html.twig' %}

{% block main %}
    <div>
        <h1>My Old Payments</h1>
        <table>
            <thead>
            <tr>
                <th>Period</th>
                <th>Additional To Base</th>
                <th>Gross</th>
                <th>Soc. Sec.</th>
                <th>PIT</th>
                <th>Net</th>
            </tr>
            </thead>
            <tbody>
            {% for payment in payments %}
                <tr>
                    <td>{{ payment.payPeriod }}</td>
                    <td>{{ payment.additionalToBaseSalary }}</td>
                    <td>{{ payment.grossAmount }}</td>
                    <td>{{ payment.socialSecurityEmployee }}</td>
                    <td>{{ payment.PIT }}</td>
                    <td class="net-pay">{{ payment.netSalary }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

