<p>Payroll App</p>
<ul>
    {% if app.getUser() %}
        {% if app.getUser().isPersonnelManager() %}
            <li>
                <a href="{{ path('employee_register') }}">
                    Register Employee
                </a>
            </li>
        {% endif %}
        {% if app.getUser().isFinancialManager() %}
            <li>
                <a href="{{ path('add_payment') }}">
                    Add Payment
                </a>
            </li>
            <li>
                <a href="{{ path('all_payments') }}">
                    Payments Report
                </a>
            </li>
        {% endif %}
        <li>
            <a href="{{ path('employee_profile') }}">
                My Profile
            </a>
        </li>
        <li>
            <a href="{{ path('my_last_payment') }}">
                Last Payment
            </a>
        </li>
        <li>
            <a href="{{ path('my_payments_history') }}">
                Payments History
            </a>
        </li>
        <li>
            <a href="{{ path('security_logout') }}">
                Logout
            </a>
        </li>
    {% else %}
        <li><a href="{{ path('security_login') }}">Login</a></li>
    {% endif %}
</ul>